@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --arrow-bg: rgba(255, 255, 255, 0.3);
  --arrow-icon: url(https://i.mscwlns.co/media/misc/others/Vector%20%281%29_ktqrn3.png?tr=w-600_);
  --option-bg: white;
  --select-bg: rgba(255, 255, 255, 0.2);
}

body{
    width: 100%;
    height: 100vh;
    background: rgb(17,84,255);
    background: linear-gradient(0deg, rgba(17,84,255,1) 0%, rgba(43,175,250,1) 100%);
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.result-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -12rem;
}

.result-div img{
    width: 250px;
}

.result-img{
    position: absolute;
    z-index: 1;
    margin-left: 0;
    margin-top: 15rem;
    animation: floaty 2s infinite alternate;
}

@keyframes floaty {
    0% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(10px);
    }
  }

.percent-symbol{
    font-size: 4rem;
    font-weight: 800;
    background: #FFFFFF;
    background: -webkit-linear-gradient(to bottom, #FFFFFF 0%, #7FA7EE 100%);
    background: -moz-linear-gradient(to bottom, #FFFFFF 0%, #7FA7EE 100%);
    background: linear-gradient(to bottom, #FFFFFF 0%, #7FA7EE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .8;
    margin-top: -5.5rem;
    margin-right: -2rem;
}

h1{
    font-size: 12rem;
    font-weight: 600;
    background: #FFFFFF;
    background: -webkit-linear-gradient(to bottom, #FFFFFF 0%, #7FA7EE 100%);
    background: -moz-linear-gradient(to bottom, #FFFFFF 0%, #7FA7EE 100%);
    background: linear-gradient(to bottom, #FFFFFF 0%, #7FA7EE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .8;
}

h2{
    font-size: 2.5rem;
    font-weight: 600;
    background: #FFFFFF;
    background: -webkit-linear-gradient(to bottom, #FFFFFF 0%, #7FA7EE 100%);
    background: -moz-linear-gradient(to bottom, #FFFFFF 0%, #7FA7EE 100%);
    background: linear-gradient(to bottom, #FFFFFF 0%, #7FA7EE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .8;
    text-align: center;
    padding: 2rem;
    margin: -2rem .1rem 0 .1rem;
    line-height: 3rem;
}

h3{
    font-size: 1.3rem;
    font-weight: 400;
    background: #FFFFFF;
    background: -webkit-linear-gradient(to bottom, #FFFFFF 0%, #7FA7EE 100%);
    background: -moz-linear-gradient(to bottom, #FFFFFF 0%, #7FA7EE 100%);
    background: linear-gradient(to bottom, #FFFFFF 0%, #7FA7EE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .8;
    text-align: center;
    padding: 8px;
}

.animation-container {
    height: 70vh;
    width: 100%;

  }
  
  .animated-text {
    font-size: 5rem;
    animation: slideAndGrow 2s ease-in-out forwards;
  }
  
  @keyframes slideAndGrow {
    0% {
      transform: translateY(100%);
      font-size: 5rem;
    }
    100% {
      transform: translateY(0);
      font-size: 12rem;
    }
  }

  select {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font-weight: 600;
    font-size: 1rem;
    /* Personalize */
    width: 25rem;
    padding: 1rem 4rem 1rem 1rem;

    background: var(--arrow-icon) no-repeat right 1em center / 1em, #ffffff;
                /* linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em); */
    color: rgb(29, 149, 255);
    border-radius: 2rem;
    /* box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2); */
    cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
      display: none;
    }
    /* Remove focus outline */
    &:focus {
      outline: none;
    }
    /* <option> colors */
    option {
      color: inherit;
      background-color: var(--option-bg);
    }
  }

  input[type=submit]{
    width: 115px;
    border: none;
    outline: none;
    padding: .9rem;
    border-radius: 5rem;
    background: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(29, 149, 255);
    cursor: pointer;
  }

  @media screen and (max-width: 768px){
    select{
      width: 20rem;
    }
  }
